jars/xerces/docs/dtd/faqs.dtd

<?xml encoding='US-ASCII'?>

<!-- STYLEBOOK FAQS DTD -->

<!-- import the external blocks.ent dtd -->
<!ENTITY % blocksEntity SYSTEM "blocks.ent">
%blocksEntity;

<!ELEMENT faqs (faq)+>
<!ATTLIST faqs title CDATA #REQUIRED>

<!ELEMENT faq (q,a)>
<!ATTLIST faq title CDATA #IMPLIED>


<!ELEMENT q (#PCDATA)>
<!ELEMENT a (%blocks;)+>

<!-- CVS $Revision: 1.2 $ $Date: 2004-09-10 13:31:31 $ -->